<section class="container" cdkDropListGroup>
  <div class="players">
    <div class="list-container">
      <h2>Players</h2>
      <div
        cdkDropList
        #playersList="cdkDropList"
        [cdkDropListData]="players"
        class="list list--small"
        cdkDropListSortingDisabled
      >
        <div class="list-entry" *ngFor="let item of players" cdkDrag>{{item.name}}</div>
      </div>
    </div>
  </div>
  <div class="games">
    <h2 class="games__header">Games</h2>
    <button mat-mini-fab (click)="addGame()" class="games__actions">
      <mat-icon>add</mat-icon>
    </button>
    <div class="games__content">
      <mat-form-field appearance="outline" *ngIf="isAddingGameOpen">
        <mat-label>Spielname</mat-label>
        <input matInput type="text" [(ngModel)]="newGameName">
      </mat-form-field>
      <mat-form-field appearance="outline" *ngIf="isAddingGameOpen">
        <mat-label>Dauer</mat-label>
        <input matInput type="text" [(ngModel)]="newGameDuration">
      </mat-form-field>
      <button
        mat-stroked-button
        color="accent"
        *ngIf="isAddingGameOpen"
        (click)="saveNewGame()"
      >
        Hinzufügen
      </button>

      <div class="list-container">
        <div
          cdkDropList
          #gamesList
          [cdkDropListData]="games"
          class="list"
          cdkDropListSortingDisabled
        >
          <div class="list-entry" *ngFor="let item of games" cdkDrag>{{item.name}} ({{item.duration}})</div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <h1>Spielergebnis</h1>
    <div class="list-container">
      <h2>Mitspieler</h2>
      <div
        cdkDropList
        #playingPlayersList
        [cdkDropListData]="playingPlayers"
        class="list"
        (cdkDropListDropped)="dropPlayer($event)"
      >
        <div class="list-entry" *ngFor="let item of playingPlayers" cdkDrag>{{item.name}}</div>
      </div>
    </div>
    <div class="list-container">
      <h2>Spiel</h2>
      <div
        cdkDropList
        #playedGameList
        [cdkDropListData]="games"
        class="list"
        (cdkDropListDropped)="dropGame($event)"
      >
        <div class="list-entry" cdkDrag *ngIf="playedGame">{{playedGame.name}}</div>
      </div>
    </div>
    <button mat-raised-button color="accent" (click)="savePlayedGame()">Speichern</button>
  </div>
</section>
